html {
    background-color: lightcyan;
}

.square-list{
    list-style-type: square;
}

.lettered-list {
    list-style-type: upper-alpha;
}

.nav {
    list-style-type: none;
    background-color: dodgerblue;
    padding: 30px;
    margin-bottom: 100px;
}

